@model Commande
@{
	var prod = ViewBag.prod;
}
<h1> purchase a product</h1>
<div class="col-7">
	

		<label for="name">Name</label>
		<input type="text" id="name" name="name" value="@prod.Name" readonly/><br />
		<label for="desc">Description</label>
		<input type="text" id="desc" name="desc" value="@prod.Description" readonly /><br />
		<label for="author">author</label>
		<input type="text" id="author" name="author" value="@prod.Author" readonly /><br />
		<label for="price">Price</label>
		<input type="text" id="price" name="price" value="@prod.Price" readonly/><br />
		<label for="cat">Category</label>
		<input type="text" id="cat" name="cat" value="@prod.CategoryId" readonly /><br /><br />
		<img src="@prod.imgURL" class="img-thumbnail" />
		<form method="post">
			<input asp-for="@Model.IdProduct" value="@prod.Id" hidden readonly/>
			<button type="submit" class="btn btn-primary">confirm purchase</button>
		</form>

</div>
